# IDE bestanden
.idea/

# Environment bestanden
.env

# Python/Poetry lock
uv.lock
__pycache__/

# React / Node frontend
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env
/frontend/.cache
/frontend/.vite
/frontend/.DS_Store
/frontend/package-lock.json
